html {
  box-sizing: border-box;
  font-family: "Denk One", sans-serif;
  line-height: 1.5;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  display: grid;
  grid-template-columns: 1fr;
  margin: 0;
  padding: 0;
}

img {
  width: 100%
}

main {
  display: flex;
  flex-direction: column;
}
