html {
  box-sizing: border-box;
  font-family: Georgia, serif;
  line-height: 1.5;
  background-color: #f5f2f0;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
}

main {
  margin: 1rem;
  padding: 0;
}

h1 {
  font-family: "Denk One", sans-serif;
  color: #623b0c;
  padding: 0;
  margin-bottom: 1.5rem;
}

h2 {
  font-family: "Denk One", sans-serif;
  color: #623b0c;
  margin: 0;
  padding: 0 0 .2em;
}

img {
  width: 100%;
  padding: 1rem 0;
  padding-bottom: 1em;
  margin: 0;
}

ol {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

p {
  font-size: 1rem;
  padding-bottom: 1.5rem;
  padding-top: .5rem;
  margin: 0;
}

ol > li {
  background-color: #ede3db;
  border: 2px solid #623b0c;
  border-radius: 8px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

a {
  background-color: #623b0c;
  color: #fff;
  text-decoration: none;
  padding: .5em .75em .6em;
  border-radius: 8px;
}
